:root {
  /* typograpghy */
  --font-family-main: 'Montserrat', sans-serif;
  /* perfect fourth body font size 16px */
  --t-s-1: 67.3px;
  --t-s-2: 50.5px;
  --t-s-3: 37.9px;
  --t-s-4: 28.4px;
  --t-s-5: 21.3px;
  --t-s-6: 16px;
  --t-s-7: 12px;
  --t-s-8: 9px;

  --t-lh-1: 96px;
  --t-lh-2: 72px;
  --t-lh-3: 56px;
  --t-lh-4: 40px;
  --t-lh-5: 32px;
  --t-lh-6: 24px;
  --t-lh-7: 16px;
  --t-lh-8: 16px;

  --t-ls-1: -2.2%;
  --t-ls-2: -2.1%;
  ;
  --t-ls-3: -1.7%;
  --t-ls-4: -1.1%;
  --t-ls-5: 0;
  --t-ls-6: 1.6%;

  --t-ls-ui-neg-1: -1.7%;
  --t-ls-ui-neg-2: -1.6%;
  ;
  --t-ls-ui-neg-3: -1.2%;
  --t-ls-ui-neg-4: -0.6%;
  --t-ls-ui-neg-5: 0.5%;
  --t-ls-ui-neg-6: 2.1%;



  /* z-indexes */
  --z-max: 999;
  --z-main-nav: 998;

  /* colors */
  --clr-black-8: rgba(0, 0, 0, 0.8);

  /* fixed sizes */
  --page-header-height: 200px;
  --limit-width-1: 1200px;

}

.ui-dark {
  color: white;
}

.t-1 {
  font-size: var(--t-s-1);
  line-height: var(--t-lh-1);
  letter-spacing: var(--t-ls-1);

}

.t-mdm {
  font-weight: 500;
}

.t-bld {
  font-weight: 700;
}

.ui-dark .t-1 {
  letter-spacing: var(--t-ls-ui-neg-1);
}

.t-2 {
  font-size: var(--t-s-2);
  line-height: var(--t-lh-2);
  letter-spacing: var(--t-ls-1);
}

.ui-dark .t-2 {
  letter-spacing: var(--t-ls-ui-neg-1);
}


.t-3 {
  font-size: var(--t-s-3);
  line-height: var(--t-lh-3);
  letter-spacing: var(--t-ls-1);
}

.ui-dark .t-3 {
  letter-spacing: var(--t-ls-ui-neg-1);
}


.t-4 {
  font-size: var(--t-s-4);
  line-height: var(--t-lh-4);
  letter-spacing: var(--t-ls-2);
}

.ui-dark .t-4 {
  letter-spacing: var(--t-ls-ui-neg-2);
}

.t-5 {
  font-size: var(--t-s-5);
  line-height: var(--t-lh-5);
  letter-spacing: var(--t-ls-3);

}

.ui-dark .t-5 {
  letter-spacing: var(--t-ls-ui-neg-3);
}


.t-6 {
  font-size: var(--t-s-6);
  line-height: var(--t-lh-6);
  letter-spacing: var(--t-ls-4);
}

.ui-dark .t-6 {
  letter-spacing: var(--t-ls-ui-neg-4);
}


.t-7 {
  font-size: var(--t-s-7);
  line-height: var(--t-lh-7);
  letter-spacing: var(--t-ls-5);
}

.ui-dark .t-7 {
  letter-spacing: var(--t-ls-ui-neg-5);
}

.t-8 {
  font-size: var(--t-s-8);
  line-height: var(--t-lh-8);
  letter-spacing: var(--t-ls-6);
}

.ui-dark .t-8 {
  letter-spacing: var(--t-ls-ui-neg-6);
}

h1 {
  font-size: var(--t-s-1);
  line-height: var(--t-lh-1);
  font-weight: 700;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


body {
  font-family: var(--font-family-main);
}


* {
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

a {
  color: inherit;
  text-decoration: none;
}


.limited-width {
  max-width: var(--limit-width-1);
  margin: 0 auto;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
}


#page-header {
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-max)
}


main {
  min-height: 100vh;
  padding-top: var(--page-header-height);
  background-size: cover;
  background-repeat: no-repeat;
}

main.zero-top-space {
  padding-top: 0;
}


/* --- Buttons --- */
button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.dark .btn-main-nav,
.btn-main-nav.on {
  color: White;

}

.btn-main-nav {
  padding-bottom: 2px;
  position: relative;
  z-index: var(--z-max);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: black;
  width: 52px;
  position:fixed;
  top:20px;
  right:24px;
}



.btn-main-nav strong {
  transition: opacity 0.4s, transform 0.2s;
}

.btn-main-nav.on strong {
  opacity: 0;
  transform: scale(0.99);
}

.btn-main-nav .icon {
  font-size: 32px;
}

.btn-main-nav span {
  line-height: var(--t-lh-6);
}



/* --- Overlays --- */

[class ^="overlay-"] {
  position: fixed;
  background-color: var(--clr-black-8);
  color: white;
}

[class ^="overlay-"].on {
  display: unset;
}

[class ^="overlay-full-viewport"] {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
}

/* --- Responsive --- */

@media screen and (min-width:768px) {

  
  .limited-width {
    grid-template-columns: repeat(12, 1fr);
  }

  #page-header {
    padding:64px 0;
    justify-content: center;
  }

  .btn-main-nav{
    top:57px;
  }



  main.p0 section:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  main.p0 section:first-child * {
    width: calc(50% + 20px);
  }

}


@media screen and ( min-width:1200px ){
  .btn-main-nav{
    top:57px;
    right:calc( (100vw - var(--limit-width-1)) / 2 )
  }
}







/* --- Main Nav --- */
/* --- main-nav > outer-swiper > swiper-slide > nav > h2 + inner-swiper --- */

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  animation: anim-main-nav-off 2s forwards reverse;
}

.main-nav.on {
  top: 0;
  left: 0;
  overflow-y: auto;
  animation: anim-main-nav-on 2s forwards;
}

.main-nav h2 {
  padding-left:16px;
  padding-bottom:8px;
}

.main-nav figure {
  display:flex;
  flex-direction:column-reverse;
  width:100%;
  height: 100%;
}

.main-nav figure>a {
  position: relative;
  flex-grow:1;
}

.main-nav figure img {
  object-fit: cover;
}

.main-nav figcaption {
 overflow: hidden;
 display:flex;
 flex-direction: column;
 padding-left:16px;
 padding-bottom:16px;
}



.main-nav .section-ui-ux .meta-descr,
.main-nav .section-blog  .meta-descr{
  display:none;
}

.main-nav .section-drawings figcaption{
  display:none;
}

.main-nav .outer-swiper {
  transition: transform 0.6s, opacity 0.4s;
  transform: translate(0, 10%);
  position: absolute;
  height: 90vh;
  bottom: 0;
  opacity: 0;
}

.wrapper-slide-directional-buttons {
  display: none;
}

.main-nav.on .outer-swiper {
  transform: translate(0, 0);
  opacity: 1;
}

.main-nav .outer-swiper>.swiper-wrapper>.swiper-slide {
  height: 50vh;
}

.main-nav .outer-swiper>.swiper-wrapper>.swiper-slide nav {
  opacity: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav .outer-swiper>.swiper-wrapper>.swiper-slide nav>.inner-swiper {
  width: 100vw;
  flex: 1 0 auto;
}

.main-nav.on .outer-swiper>.swiper-wrapper>.swiper-slide nav {
  opacity: 1;
}






@keyframes anim-main-nav-on {
  0% {
    width: 100vw;
    height: 100vh
  }

  19% {
    background-color: rgba(0, 0, 0, 0.9);
  }

  20% {}

  100% {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;

  }
}

@keyframes anim-main-nav-off {
  0% {
    width: 0;
    height: 0;
  }

  89.9% {
    width: 0;
    height: 0;

  }

  90% {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;

  }

  100% {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;

  }
}



@media screen and (min-width:768px) {

  .main-nav {
    z-index: var(--z-main-nav);
  }

  .main-nav h2 {
    padding:0;
    
  }

  .main-nav figure{
    flex-direction: row;
  }

  .main-nav figure>a {
    height: 100%;
  }

  .main-nav .section-ui-ux .meta-descr,
.main-nav .section-blog  .meta-descr{
  display:unset;
}


  .main-nav .swiper-slide figcaption {
    top: 0;
    right: 0;
    padding: 0 64px 0 16px;
    opacity: 0;
    transition: all 0.4s 0.2s;
    flex:0 1 30%;
    height:auto;
  }

  .main-nav .section-drawings figcaption{
    display:unset;
  }

  .main-nav .swiper-slide figcaption p{
    margin-top:8px;
  }

  .main-nav .swiper-slide-active .swiper-slide-active figcaption {
    opacity: 1;
  }

  .main-nav .swiper-slide .wrapper-slide-directional-buttons{
    opacity:0;
    transition: opacity 0.4s 10.6s;
  }


  .main-nav .swiper-slide-active .wrapper-slide-directional-buttons {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 70%;
    bottom:24px;
    opacity:1;
  }

  .main-nav .swiper-slide-active .btn-next-item {
    width: 48px;
    height: 48px;
    z-index: 1000;
    transition:opacity 0.4s;
  }

  [disabled].btn-next-item{ opacity:0.5}

  .main-nav .btn-next-item span {
    color: white;
    font-size: 24px;
  }

  .main-nav .outer-swiper {
    position: static;
    --half-auto-margin: calc((100vw - 768px) / 2);
    --scrollable-width: calc( 768px + var(--half-auto-margin) );
    width: var(--scrollable-width);
    height: unset;
    max-width: unset;
    transform: translate(20%, 160px);

  }

  .main-nav.on .outer-swiper {
    transform: translate(var(--half-auto-margin), 160px);
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide {
    width: calc(( 768px - (11 * 16px)) / 12 * 9 + 8 * 11px);
    height: calc( 50vh + 56px );

  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide nav>.inner-swiper {
    width: calc(( 768px - (11 * 16px)) / 12 * 9 + 8 * 11px);
    height: 50vh;

  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide h2 {
    opacity: 0.4;
    transform: translateX(8%);
    transition: opacity 0.4s, transform 0.4s;
    margin-bottom: 8px;
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide-active h2 {
    transform: translateX(0%);
    opacity: 1;
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide figure {
    opacity: 0.6;
    transition: opacity 0.4s;
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide-active figure {
    opacity: 1;
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide nav {
    opacity: 1;
    height: 100%;
  }

 

  .main-nav.on .outer-swiper>.swiper-wrapper>.swiper-slide nav {

    opacity: 1;
  }


}




@media screen and ( min-width:1200px ){
  .main-nav .outer-swiper {
    --half-auto-margin: calc((100vw - var(--limit-width-1)) / 2);
    --scrollable-width: calc(var(--limit-width-1) + var(--half-auto-margin));
    width: var(--scrollable-width);
    transform: translate(20%, 160px);

  }

  .main-nav.on .outer-swiper {
    transform: translate(var(--half-auto-margin), 160px);
  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide {
    width: calc((var(--limit-width-1) - (11 * 16px)) / 12 * 9 + 8 * 11px);
    height: calc( 50vh + 56px );

  }

  .main-nav .outer-swiper>.swiper-wrapper>.swiper-slide nav>.inner-swiper {
    width: calc(( var(--limit-width-1) - (11 * 16px)) / 12 * 9 + 8 * 11px);
    height: 50vh;

  }

}

/* --- Main Nav  Ends --- */



/*  Typography Responsive */
@media screen and ( min-width:768px ){

  .lg-t-1 {
    font-size: var(--t-s-1);
    line-height: var(--t-lh-1);
    letter-spacing: var(--t-ls-1);
  
  }
  
  .t-mdm {
    font-weight: 500;
  }
  
  .t-bld {
    font-weight: 700;
  }
  
  .ui-dark .t-1 {
    letter-spacing: var(--t-ls-ui-neg-1);
  }
  
  .lg-t-2 {
    font-size: var(--t-s-2);
    line-height: var(--t-lh-2);
    letter-spacing: var(--t-ls-1);
  }
  

  
  .lg-t-3 {
    font-size: var(--t-s-3);
    line-height: var(--t-lh-3);
    letter-spacing: var(--t-ls-1);
  }
  

  
  
  .lg-t-4 {
    font-size: var(--t-s-4);
    line-height: var(--t-lh-4);
    letter-spacing: var(--t-ls-2);
  }
  
 
  .lg-t-5 {
    font-size: var(--t-s-5);
    line-height: var(--t-lh-5);
    letter-spacing: var(--t-ls-3);
  
  }
  
 
  
  .lg-t-6 {
    font-size: var(--t-s-6);
    line-height: var(--t-lh-6);
    letter-spacing: var(--t-ls-4);
  }
  
 
  
  .lg-t-7 {
    font-size: var(--t-s-7);
    line-height: var(--t-lh-7);
    letter-spacing: var(--t-ls-5);
  }
  
  
  .lg-t-8 {
    font-size: var(--t-s-8);
    line-height: var(--t-lh-8);
    letter-spacing: var(--t-ls-6);
  }
  


}