:root {
  /* colors */
  --clr-dark-12: hsl(0, 0%, 12%);
  --clr-dark-13: hsl(0, 0%, 13%);
  --clr-black-8: rgba(0, 0, 0, 0.8);
  --clr-primary:#4400CC;
  --clr-primary-65:#7B4CFF;
  /* typograpghy */
  --font-family-main:'Roboto Slab', serif;
  --font-family-p:'Montserrat', sans-serif;
  /* perfect fourth body font size 16px */
  --t-s-1: 67.3px;
  --t-s-2: 50.5px;
  --t-s-3: 37.9px;
  --t-s-4: 28.4px;
  --t-s-5: 21.3px;
  --t-s-6: 16px;
  --t-s-7: 12px;
  --t-s-8: 9px;

  --t-lh-1: 96px;
  --t-lh-2: 72px;
  --t-lh-3: 56px;
  --t-lh-4: 40px;
  --t-lh-5: 32px;
  --t-lh-6: 24px;
  --t-lh-7: 16px;
  --t-lh-8: 16px;

  --t-ls-1: -2.2%;
  --t-ls-2: -2.1%;
  ;
  --t-ls-3: -1.7%;
  --t-ls-4: -1.1%;
  --t-ls-5: 0;
  --t-ls-6: 1.6%;

  --t-ls-ui-neg-1: -1.7%;
  --t-ls-ui-neg-2: -1.6%;
  ;
  --t-ls-ui-neg-3: -1.2%;
  --t-ls-ui-neg-4: -0.6%;
  --t-ls-ui-neg-5: 0.5%;
  --t-ls-ui-neg-6: 2.1%;

  /* z-indexes */
  --z-max: 999;
  --z-main-nav: 998;


  /* fixed sizes */
  --page-header-height: 128px;
  --limited-width-lg: 1200px;
  --limited-width-md: 768px;

}


.dark-ui {
  color: white;

}



main.dark-ui {
  background-color: var(--clr-dark-13);
  color: white;
}

.t-1 {
  font-size: var(--t-s-1);
  line-height: var(--t-lh-1);
  letter-spacing: var(--t-ls-1);

}

.t-mdm {
  font-weight: 500;
}

.t-bld {
  font-weight: 700;
}

.dark-ui .t-1 {
  letter-spacing: var(--t-ls-ui-neg-1);
}

.t-2 {
  font-size: var(--t-s-2);
  line-height: var(--t-lh-2);
  letter-spacing: var(--t-ls-1);
}

.dark-ui .t-2 {
  letter-spacing: var(--t-ls-ui-neg-1);
}


.t-3 {
  font-size: var(--t-s-3);
  line-height: var(--t-lh-3);
  letter-spacing: var(--t-ls-1);
}

.dark-ui .t-3 {
  letter-spacing: var(--t-ls-ui-neg-1);
}


.t-4 {
  font-size: var(--t-s-4);
  line-height: var(--t-lh-4);
  letter-spacing: var(--t-ls-2);
}

.dark-ui .t-4 {
  letter-spacing: var(--t-ls-ui-neg-2);
}

.t-5 {
  font-size: var(--t-s-5);
  line-height: var(--t-lh-5);
  letter-spacing: var(--t-ls-3);

}

.dark-ui .t-5 {
  letter-spacing: var(--t-ls-ui-neg-3);
}


.t-6 {
  font-size: var(--t-s-6);
  line-height: var(--t-lh-6);
  letter-spacing: var(--t-ls-4);
}

.dark-ui .t-6 {
  letter-spacing: var(--t-ls-ui-neg-4);
}


.t-7 {
  font-size: var(--t-s-7);
  line-height: var(--t-lh-7);
  letter-spacing: var(--t-ls-5);
}

.dark-ui .t-7 {
  letter-spacing: var(--t-ls-ui-neg-5);
}

.t-8 {
  font-size: var(--t-s-8);
  line-height: var(--t-lh-8);
  letter-spacing: var(--t-ls-6);
}

.dark-ui .t-8 {
  letter-spacing: var(--t-ls-ui-neg-6);
}

h1 {
  font-size: var(--t-s-1);
  line-height: var(--t-lh-1);
  font-weight: 700;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
  font-family: var(--font-family-main);
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

a {
  color: inherit;
  text-decoration: none;
  display:inline-block;
  position:relative;
}

p a::before{
  content:'';
  display:inline-block;
  width:100%;
  height:2px;
  border-radius:1px;
  background-color:var(--clr-black-12);
  position:absolute;
  bottom:0;
 
}

strong{
  font-weight: 700;
}

.dark-ui p  a::before{
  background-color:white;
}

p{
  font-family: var(--font-family-p);
}

img {
  max-width: 100%;
}


.limited-width {
  max-width: var(--limited-width-lg);
  margin: 0 auto;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
}


#page-header {
  padding: 24px 24px 0;
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-max)
}

#page-header #breadcrumbs{
  margin-left:8px;
}


main {
  min-height: 100vh;
  padding-top: var(--page-header-height);
  padding-bottom:128px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x:hidden;
  position:relative;
}


main.zero-top-space{
  padding-top: 0;
}

/* home page */
main.p0{
  min-height:500vh;
}


/* --- Buttons --- */
button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

[ class*="dark-ui"] .btn-main-nav
 {
  color: White;
}

.btn-main-nav.on{
  color:white;
}



.btn-main-nav {
  padding-bottom: 2px;
  position: relative;
  z-index: var(--z-max);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: black;
  width: 52px;
  position: fixed;
  top: 20px;
  right: 24px;
}



.btn-main-nav strong {
  transition: opacity 0.4s, transform 0.2s;
}

.btn-main-nav.on strong {
  opacity: 0;
  transform: scale(0.99);
}

.btn-main-nav .icon {
  font-size: 32px;
  transform:translateY(4px);
}

.btn-main-nav span {
  line-height: var(--t-lh-6);
}



/* --- Overlays --- */

[class ^="overlay-"] {
  position: fixed;
  background-color: var(--clr-black-8);
  color: white;
}

[class ^="overlay-"].on {
  display: unset;
}

[class ^="overlay-full-viewport"] {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
}

/* --- Responsive --- */

@media screen and (min-width:768px) {

  .lg-t-1 {
    font-size: var(--t-s-1);
    line-height: var(--t-lh-1);
    letter-spacing: var(--t-ls-1);

  }

  .t-mdm {
    font-weight: 500;
  }

  .t-bld {
    font-weight: 700;
  }

  .dark-ui .t-1 {
    letter-spacing: var(--t-ls-ui-neg-1);
  }

  .lg-t-2 {
    font-size: var(--t-s-2);
    line-height: var(--t-lh-2);
    letter-spacing: var(--t-ls-1);
  }



  .lg-t-3 {
    font-size: var(--t-s-3);
    line-height: var(--t-lh-3);
    letter-spacing: var(--t-ls-1);
  }




  .lg-t-4 {
    font-size: var(--t-s-4);
    line-height: var(--t-lh-4);
    letter-spacing: var(--t-ls-2);
  }


  .lg-t-5 {
    font-size: var(--t-s-5);
    line-height: var(--t-lh-5);
    letter-spacing: var(--t-ls-3);

  }



  .lg-t-6 {
    font-size: var(--t-s-6);
    line-height: var(--t-lh-6);
    letter-spacing: var(--t-ls-4);
  }



  .lg-t-7 {
    font-size: var(--t-s-7);
    line-height: var(--t-lh-7);
    letter-spacing: var(--t-ls-5);
  }


  .lg-t-8 {
    font-size: var(--t-s-8);
    line-height: var(--t-lh-8);
    letter-spacing: var(--t-ls-6);
  }

  .limited-width {
    grid-template-columns: repeat(12, 1fr);
  }

  #page-header {
    padding: 36px 36px 0;
    
  }

  .btn-main-nav {
    top: 36px;
  }

  [ class*="dark-ui"]:not(.p0) .btn-main-nav.on{
    color: black;
  }

  .btn-main-nav .icon {
    transform:translateY(0);
  }
 

}


@media screen and (min-width:1200px) {
  .btn-main-nav {
    top: 36px;
    right: 36px;
  }
}



