.hero{
    position: relative;
    margin-bottom:48px;
}

.hero figure{
    height:100%;
}

.hero figure img{
    object-fit:cover;
    width:100%;
    height:100%;
}

.hero figcaption{
    display:none;
}

.hero > section
{
    position:absolute;
  
}

.hero.dark{
    color:white;
}
