/* --- Main Nav --- */
/* --- main-nav > outer-swiper > swiper-slide > nav > h2 + inner-swiper --- */



[class*="dark-ui"]:not([class*="p0"]) .main-nav{
  color:var(--clr-dark-12);
  background-color: white;
}

[class*="dark-ui"]:not([class*="p0"]) .main-nav [class*="material-symbols"]{
  color:var(--clr-dark-12);
}



.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--clr-dark-12);
  color: white;
  animation: anim-main-nav-off 0.3s forwards reverse ease-out;
  border-bottom-left-radius: 8px;
  box-shadow: 16px -16px 40px black;
  --half-margin-md: calc((100vw - var(--limited-width-md)) / 2);
  --half-margin-lg: calc((100vw - var(--limited-width-lg)) / 2);
  --nav-height-sm:100vh;
  --nav-height:auto;
  --nav-bg-color:var(--clr-dark-12);
  --nav-margin-left:0;
  --nav-width-md:calc( var(--limited-width-md) + var(--half-margin-md) );
  --nav-width-lg:calc(  var(--limited-width-lg) + var(--half-margin-lg)  );
  --outer-swiper-w-md:calc(var(--limited-width-md) + var(--half-margin-md));
  --outer-swiper-w-lg:calc(var(--limited-width-lg) + var(--half-margin-lg));
  --slide-width-md:calc(( var(--limited-width-md) - (11 * 16px)) / 12 * 9 + 8 * 11px);
  --slide-width-lg:calc(( var(--limited-width-lg) - (11 * 16px)) / 12 * 9 + 8 * 11px);
}


.main-nav.on {
  animation: anim-main-nav-on 0.3s forwards ease-out;
}

.main-nav h2 {
  padding-left: 16px;
  padding-bottom: 8px;
}

.main-nav figure {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}

.main-nav figure>a {
  position: relative;
  flex-grow: 1;
}

.main-nav figure img {
  object-fit: cover;
}

.main-nav figcaption {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-bottom: 16px;
}



.main-nav .section-ui-ux [class*="meta-descr"],
.main-nav .section-blog [class*="meta-descr"] {
  display: none;
}

.main-nav .section-drawings figcaption {
  display: none;
}

.main-nav .outer-swiper {
  position: absolute;
  height: 90vh;
  bottom: 0;
}

.main-nav [class=wrapper-slide-directional-buttons] {
  display: none;
}

.main-nav.on .outer-swiper {
  opacity: 1;
}

.main-nav .outer-swiper>div>div {
  height: 50vh;
}

.main-nav .outer-swiper nav {
  opacity: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav.on .outer-swiper nav {
  opacity: 1;
}

.main-nav .inner-swiper {
  width: 100vw;
  flex: 1 0 auto;
}




@keyframes anim-main-nav-on {
  0% {
    width: 100vw;
    height: var(--nav-height-sm);
  }


  20% {}

  100% {
    width: 100vw;
    height: var(--nav-height-sm);

  }
}

@keyframes anim-main-nav-off {
  0% {
    width: 0;
    height: 0;
  }

  89.9% {
    width: 0;
    height: 0;

  }

  90% {
    width: 100vw;
    height: var(--nav-height-sm);

  }

  100% {
   
    width: 100vw;
    height: var(--nav-height-sm);

  }
}

/* --- Responsive --- */

@media screen and (min-width:768px) {

  .main-nav {
    z-index: var(--z-main-nav);
    width:var(--outer-swiper-w-md);
    height:var(--nav-height);
    padding:64px 0 64px 64px;
    transform:translate(100%, -100%);
  }

 

  .main-nav h2 {
    padding: 0;

  }

  .main-nav figure {
    flex-direction: row;
  }

  .main-nav figure>a {
    height: 100%;
  }

  .main-nav .section-ui-ux [class*="meta-descr"],
  .main-nav .section-blog [class*="meta-descr"] {
    display: unset;
  }


  .main-nav figcaption {
    top: 0;
    right: 0;
    padding: 0 64px 0 16px;
    opacity: 0;
    transition: all 0.4s 0.2s;
    flex: 0 1 30%;
    height: auto;
  }

  .main-nav .section-drawings figcaption {
    display: unset;
  }

  .main-nav figcaption p {
    margin-top: 8px;
  }

  .main-nav [class*="swiper-slide-active"] [class*="swiper-slide-active"] figcaption {
    opacity: 1;
  }

  .main-nav [class=wrapper-slide-directional-buttons] {
    opacity: 0;
    transition: opacity 0.4s 10.6s;
  }


  .main-nav [class*="swiper-slide-active"] [class=wrapper-slide-directional-buttons] {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 70%;
    bottom: 24px;
    opacity: 1;
  }

  .main-nav [class*="swiper-slide-active"] [class=btn-next-item] {
    width: 48px;
    height: 48px;
    z-index: 1000;
    transition: opacity 0.4s;
  }

  .main-nav [disabled][class=btn-next-item] {
    opacity: 0.5;
  }

  .main-nav [class=btn-next-item] span {
    color: white;
    font-size: 24px;
  }

  .main-nav .outer-swiper {
    position: static;
    width: var(--outer-swiper-w-md);
    height: unset;
    max-width: unset;
    margin: 0;
  }


  .main-nav .outer-swiper>div>div {
    width:var(--slide-width-md);
    height: calc(50vh + 56px);

  }

  .main-nav .inner-swiper {
    width: var(--slide-width-md);
    height: 50vh;

  }

  .main-nav .outer-swiper>div>div h2 {
    opacity: 0.4;
    transition: opacity 0.4s, transform 0.4s;
    margin-bottom: 8px;
  }

  .main-nav .outer-swiper>div>[class*="swiper-slide-active"] h2 {
    transform: translateX(0%);
    opacity: 1;
  }

  .main-nav .outer-swiper>div>div figure {
    opacity: 0.6;
    transition: opacity 0.4s;
  }

  .main-nav .outer-swiper>div>[class*="swiper-slide-active"] figure {
    opacity: 1;
  }

  .main-nav nav {
    opacity: 1;
    height: 100%;
  }

  .main-nav.on nav {

    opacity: 1;
  }


  @keyframes anim-main-nav-on {
    0% {
      transform:translate(100%, -100%);
     
    }

    100% {
      transform:translate(0, 0);

    }
  }

  @keyframes anim-main-nav-off {
    0% {
     
      transform:translate(100%, -100%);
    }

    19% {
     
    }

    100% {
      transform:translate(0, 0);

    }
  }

  


}




@media screen and (min-width:1200px) {
  .main-nav{
    width:var(--nav-width-lg);
  }

  .main-nav .outer-swiper {
  
    width: var(--outer-swiper-w-lg);
   
  }


  .main-nav .outer-swiper>div>div {
    width: var(--slide-width-lg);
    height: calc(50vh + 56px);

  }

  .main-nav .inner-swiper {
    width: calc((var(--limited-width-lg) - (11 * 16px)) / 12 * 9 + 8 * 11px);
    height: 50vh;

  }

}

/* --- Main Nav  Ends --- */